<div location="header"></div>

<div id="addechance-Panel">
    <h1 id="margintop" align="center">Ajouter une echeance</h1>
    <hr>

    <div class="textField" location="title"></div>
    <div class="textField" location="endDate"></div>
    <div class="uploader" location="upload"></div>
    <div class="textArea" location="description"></div>

    <div id="buttons">
        <div id="backButton" location="backButton"></div>
        <div id="addButton" location="addButton"></div>
    </div>

</div>

