<div location="header"></div>

<div id="addstage-Panel">
    <h1 id="margintop" align="center">Ajouter un stage</h1>
    <hr>

    <fieldset>
        <legend><h3 class="spacing-title"> Informations sur le stage </h3></legend>

        <div class="textField" location="title"></div>
        <div class="textField" location="location"></div>
        <div class="textField" location="ns"></div>
    </fieldset>


    <fieldset>
        <legend><h3 class="spacing-title"> Personne de contact </h3></legend>

        <div class="textField" location="firstname"></div>
        <div class="textField" location="lastname"></div>
        <div class="textField" location="telephoneNumber"></div>
        <div class="textField" location="mail"></div>
        <div class="textField" location="entreprise"></div>
    </fieldset>


    <fieldset>
        <legend><h3 class="spacing-title">Adresse</h3></legend>

        <div class="textField" location="street"></div>
        <div class="textField" location="num"></div>
        <div class="textField" location="CP"></div>
        <div class="textField" location="boite"></div>
        <div class="textField" location="city"></div>
        <div class="textField" location="country"></div>
    </fieldset>


    <fieldset>
        <legend><h3 class="spacing-title">Annexe</h3></legend>

        <div id="upload" location="upload"></div>
        <div location="pane2l"></div>
    </fieldset>

    <div id="buttons">
        <div id="backButton" location="backButton"></div>
        <div id="resetButton" location="resetButton"></div>
        <div id="addButton" location="addButton"></div>
    </div>

</div>

