<div location="header"></div>
<div id="adminContent">
    <div id="adminLeft">
        <h2>Collection:</h2>

        <div id="adminNs" location="adminNs"></div>
        <h2>Gestion:</h2>

        <div id="adminUpdateButton" location="adminUpdateButton"></div>
        <div id="adminDeleteButton" location="adminDeleteButton"></div>
        <div id="adminBackLink" location="adminBackLink"></div>
    </div>
    <div id="adminRight">
        <div id="adminTable" location="adminTable"></div>
    </div>
</div>

