<div location="header"></div>

<div id="mesStagesStudentAccepted-Panel">
    <h1 id="margintop" align="center">Mes propositions de stage</h1>
    <hr>

    <div class="label" location="title"></div>
    <div class="label" location="entreprise"></div>
    <div class="label" location="promotteur"></div>
    <hr>

    <div class="tableEcheance" location="tableEcheance"></div>

    <div id="buttons">
        <div id="backButton" location="backButton"></div>
        <div id="chooseButton" location="chooseButton"></div>
    </div>

</div>

