<div location="header"></div>

<div id="mesStagesView-panel">

    <div id="mesStagesView-panel-header">
        <div class="t1">MYBA</div>
        <div class="t2">Cursus made easy</div>
    </div>

    <div id="loginView-textFields">
        <div location="username" class="loginView-textField"></div>
        <div location="password" class="loginView-textField"></div>
        <div id="forgetlink" location="forgetlink"></div>
    </div>

    <div id="loginView-buttons">
        <div location="resetbutton" class="loginView-button" id="loginView-buttonReset"></div>
        <div location="okbutton" class="loginView-button"></div>
    </div>

</div>