<div location="header"></div>

<div id="notefinal-panel">

    <div id="notefinal-retour" location="back "></div>

    <div id="notefinal-note-div">
        <div location="notefinal-note" class="notefinal-note"></div>
        <div location="notefinal-notetotal" class="notefinal-notetotal"></div>
    </div>

    <div id="notefinal-commentaire" location="notefinal-commentaire"></div>

    <div id="notefinal-buttons">
        <div location="notefinal-resetbutton" class="notefinal-resetButton"></div>
        <div location="notefinal-okbutton" class="notefinal-okButton"></div>
    </div>

</div>
