<div class="profileOverlay">
    <div class="profileOverlay-Header">
        <div location="header" class="profileOverlay-Header-Content"></div>
        <div location="closeButton" class="profileOverlay-Header-ButtonClose"></div>
    </div>
    <div class="profileOverlay-Content">
        <div class="profileOverlay-Content-Row">
            <div location="myAccountBoxLogo" class="profileOverlay-Content-Row-Logo"></div>
            <div location="myAccountBoxText" class="profileOverlay-Content-Row-Text"></div>
        </div>
        <div class="profileOverlay-Content-Row">
            <div location="myStageBoxLogo" class="profileOverlay-Content-Row-Logo"></div>
            <div location="myStageBoxText" class="profileOverlay-Content-Row-Text"></div>
        </div>
        <div class="profileOverlay-Content-Row">
            <div location="myTFEBoxLogo" class="profileOverlay-Content-Row-Logo"></div>
            <div location="myTFEBoxText" class="profileOverlay-Content-Row-Text"></div>
        </div>
        <div class="profileOverlay-Content-Row">
            <div location="adminBoxLogo" class="profileOverlay-Content-Row-Logo"></div>
            <div location="adminBoxText" class="profileOverlay-Content-Row-Text"></div>
        </div>
        <div class="profileOverlay-Content-Row">
            <div location="disconnectBoxLogo" class="profileOverlay-Content-Row-Logo"></div>
            <div location="disconnectBoxText" class="profileOverlay-Content-Row-Text"></div>
        </div>
    </div>
</div>