@mixin myAccountViewStyle {

  #myAccountView-panel {
    width: 50%;
    height: 25%;
    margin: auto;
  }

  #myAccountView-textFields {
    width: 300px;
    margin: 10% auto auto;
  }

  .myAccountView-textField {
    margin-bottom: 10px;
  }

  #myAccountView-buttons {
    width: auto;
    display: table;
    margin: 10px auto auto;
  }

  .myAccountView-buttonUpdate {
    display: inline-block;

  }

  #myAccountView-buttonsave {
    margin-right: 10px;
  }

}