<div location="header"></div>

<div id="mesStagesTeacher-Panel">
    <h1 id="margintop" align="center">Mes propositions de stage</h1>
    <hr>

    <div class="tableProposals" location="tableProposals"></div>

    <div class="buttons">
        <div id="deleteButton" location="deleteButton"></div>
        <div id="updateButton" location="updateButton"></div>
        <div id="addButton" location="addButton"></div>
    </div>

    <div class="tableFollows" location="tableFollows"></div>

    <div class="buttons">
        <div id="backButton" location="backButton"></div>
        <div id="consultButton" location="consultButton"></div>
    </div>

</div>

