<div location="header"></div>

<div id="myAccount-Panel">
    <h1 id="margintop" align="center">Mon compte</h1>
    <hr>

    <div id="myAccountView-textFields">
        <div class="myAccountView-textField" location="upload"></div>
        <div class="myAccountView-textField" location="oldPassword"></div>
        <div class="myAccountView-textField" location="newPassword"></div>
        <div class="myAccountView-textField" location="newPassword2"></div>
    </div>

    <div id="myAccountView-buttons">
        <div class="myAccountView-buttonsave" location="saveButton"></div>
    </div>
</div>