<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@//localhost:1521</property>
        <property name="connection.username">test</property>
        <property name="connection.password">abcd</property>
        <property name="show_sql">false</property>
        <property name="hibernate.hbm2ddl">validate</property>

        <mapping class="beans.Critere"/>
        <mapping class="beans.Defense"/>
        <mapping class="beans.Echeance"/>
        <mapping class="beans.Evaluation"/>
        <mapping class="beans.LieuStage"/>
        <mapping class="beans.Permission"/>
        <mapping class="beans.PropositionStage"/>
        <mapping class="beans.Role"/>
        <mapping class="beans.Stage"/>
        <mapping class="beans.Technologie"/>
        <mapping class="beans.TFE"/>
        <mapping class="beans.Utilisateur"/>

    </session-factory>
</hibernate-configuration>